In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

df = pd.read_csv("DFW_List-quick_clean.csv")
df = df.drop(columns=['Unnamed: 0'])
df.head()

,Year,Semester,College,Department,Course,Title,Total Grades,"D, F, W Grades",% DFW
0,2016,Fall,CALS,A B E,102X,LEARNING COMMUNITIE,74,2,3
1,2017,Fall,CALS,A B E,102X,LEARNING COMMUNITIE,79,4,5
2,2015,Spring,CALS,A B E,110,EXPERNC AG&BIO ENGR,96,2,2
3,2016,Spring,CALS,A B E,110,EXPERNC AG&BIO ENGR,130,0,0
4,2017,Spring,CALS,A B E,110,EXPERNC AG&BIO ENGR,101,2,2

In [2]:
df.groupby(['Department','Course'])

In [3]:
df.to_csv('DFW_fully_cleaned.csv', index=False)