In [1]:
import pandas as pd

In [2]:
full_data = pd.read_csv("DFW_fully_cleaned.csv")

In [3]:
full_data

,Year,Semester,College,Department,Course,Title,Total Grades,"D, F, W Grades",% DFW
0,2016,Fall,CALS,A B E,102X,LEARNING COMMUNITIE,74,2,3
1,2017,Fall,CALS,A B E,102X,LEARNING COMMUNITIE,79,4,5
2,2015,Spring,CALS,A B E,110,EXPERNC AG&BIO ENGR,96,2,2
3,2016,Spring,CALS,A B E,110,EXPERNC AG&BIO ENGR,130,0,0
4,2017,Spring,CALS,A B E,110,EXPERNC AG&BIO ENGR,101,2,2
5,2018,Spring,CALS,A B E,110,EXPERNC AG&BIO ENGR,105,5,5
6,2014,Fall,CALS,A B E,160,SYST PROB SOLV&PROG,40,5,13
7,2015,Fall,CALS,A B E,160,SYST PROB SOLV&PROG,76,8,11
8,2015,Spring,CALS,A B E,160,SYST PROB SOLV&PROG,47,9,19
9,2016,Fall,CALS,A B E,160,SYST PROB SOLV&PROG,50,9,18
10,2016,Spring,CALS,A B E,160,SYST PROB SOLV&PROG,47,5,11
11,2017,Fall,CALS,A B E,160,SYST PROB SOLV&PROG,55,9,16
12,2017,Spring,CALS,A B E,160,SYST PROB SOLV&PROG,45,7,16
13,2018,Spring,CALS,A B E,160,SYST PROB SOLV&PROG,44,9,20
14,2014,Fall,CALS,A B E,170,ENG GRPHC&INTRO DSN,67,3,4
15,2015,Fall,CALS,A B E,170,ENG GRPHC&INTRO DSN,82,7,9
16,2015,Spring,CALS,A B E,170,ENG GRPHC&INTRO DSN,33,1,3
17,2016,Fall,CALS,A B E,170,ENG GRPHC&INTRO DSN,70,1,1
18,2016,Spring,CALS,A B E,170,ENG GRPHC&INTRO DSN,42,0,0
19,2017,Fall,CALS,A B E,170,ENG GRPHC&INTRO DSN,65,2,3
20,2017,Spring,CALS,A B E,170,ENG GRPHC&INTRO DSN,38,3,8
21,2018,Spring,CALS,A B E,170,ENG GRPHC&INTRO DSN,32,4,13
22,2014,Fall,CALS,A B E,201,SMNR:PREP FOR WRKPL,18,1,6
23,2015,Fall,CALS,A B E,201,SMNR:PREP FOR WRKPL,9,0,0
24,2015,Spring,CALS,A B E,201,SMNR:PREP FOR WRKPL,38,1,3
25,2016,Fall,CALS,A B E,201,SMNR:PREP FOR WRKPL,15,0,0
26,2016,Spring,CALS,A B E,201,SMNR:PREP FOR WRKPL,63,2,3
27,2017,Fall,CALS,A B E,201,SMNR:PREP FOR WRKPL,12,0,0
28,2017,Spring,CALS,A B E,201,SMNR:PREP FOR WRKPL,79,0,0
29,2018,Spring,CALS,A B E,201,SMNR:PREP FOR WRKPL,53,0,0
...,...,...,...,...,...,...,...,...,...
66225,2004,Fall,LAS,ZOOL,355,PRIN OF PHYSIOLOGY,34,6,18
66226,2004,Spring,LAS,ZOOL,355,PRIN OF PHYSIOLOGY,49,10,20
66227,2005,Spring,LAS,ZOOL,355,PRIN OF PHYSIOLOGY,37,4,11
66228,2003,Fall,LAS,ZOOL,383,WOMEN IN SCI & ENGR,24,0,0
66229,2003,Fall,LAS,ZOOL,405,BIOLOGY OF INVERTEB,15,1,7
66230,2004,Fall,LAS,ZOOL,405,BIOLOGY OF INVERTEB,17,1,6
66231,2004,Spring,LAS,ZOOL,428,CELL BIOLOGY,7,0,0
66232,2005,Spring,LAS,ZOOL,428,CELL BIOLOGY,6,0,0
66233,2004,Spring,LAS,ZOOL,433,DEVELOPMENTAL BIOL,12,2,17
66234,2005,Spring,LAS,ZOOL,433,DEVELOPMENTAL BIOL,19,0,0
66235,2004,Spring,LAS,ZOOL,433L,DEVELOPMTL BIOL LAB,8,0,0
66236,2005,Spring,LAS,ZOOL,433L,DEVELOPMTL BIOL LAB,12,0,0
66237,2004,Spring,LAS,ZOOL,454,GEN & COMP ENDOCRIN,17,1,6
66238,2005,Spring,LAS,ZOOL,454,GEN & COMP ENDOCRIN,22,1,5
66239,2003,Fall,LAS,ZOOL,456,NEUROBIOLOGY,16,3,19
66240,2004,Fall,LAS,ZOOL,456,NEUROBIOLOGY,13,3,23
66241,2004,Spring,LAS,ZOOL,462,EVOLUTNARY GENETICS,2,0,0
66242,2005,Spring,LAS,ZOOL,462,EVOLUTNARY GENETICS,1,0,0
66243,2003,Fall,LAS,ZOOL,490R,INDEP STDY RESEARCH,8,0,0
66244,2004,Summer,LAS,ZOOL,490R,INDEP STDY RESEARCH,1,0,0
66245,2004,Fall,LAS,ZOOL,490R,INDEP STDY RESEARCH,2,1,50
66246,2004,Spring,LAS,ZOOL,490R,INDEP STDY RESEARCH,3,0,0
66247,2005,Spring,LAS,ZOOL,490R,INDEP STDY RESEARCH,9,0,0
66248,2003,Summer,INDIS,ZOOL,490R,INDEP STDY RESEARCH,3,0,0
66249,2003,Fall,LAS,ZOOL,490U,LAB TCHNG EXPERIENC,10,0,0
66250,2004,Fall,LAS,ZOOL,490U,LAB TCHNG EXPERIENC,5,2,40
66251,2004,Spring,LAS,ZOOL,490U,LAB TCHNG EXPERIENC,5,0,0
66252,2005,Spring,LAS,ZOOL,490U,LAB TCHNG EXPERIENC,2,0,0
66253,2003,Fall,LAS,ZOOL,492X,UG SEM ENVIRON BIOL,9,0,0
66254,2004,Spring,LAS,ZOOL,492X,UG SEM ENVIRON BIOL,8,0,0

In [4]:
data_2003_full = full_data[full_data['Year'] == 2003]
data_2003_summer = data_2003_full[data_2003_full['Semester'] == 'Summer']
data_2003_fall = data_2003_full[data_2003_full['Semester'] == 'Fall']

data_2004_full = full_data[full_data['Year'] == 2004]
data_2004_spring = data_2004_full[data_2004_full['Semester'] == 'Spring']
data_2004_summer = data_2004_full[data_2004_full['Semester'] == 'Summer']
data_2004_fall = data_2004_full[data_2004_full['Semester'] == 'Fall']

data_2005_full = full_data[full_data['Year'] == 2005]
data_2005_spring = data_2005_full[data_2005_full['Semester'] == 'Spring']
data_2005_summer = data_2005_full[data_2005_full['Semester'] == 'Summer']
data_2005_fall = data_2005_full[data_2005_full['Semester'] == 'Fall']

data_2006_full = full_data[full_data['Year'] == 2006]
data_2006_spring = data_2006_full[data_2006_full['Semester'] == 'Spring']
data_2006_summer = data_2006_full[data_2006_full['Semester'] == 'Summer']
data_2006_fall = data_2006_full[data_2006_full['Semester'] == 'Fall']

data_2007_full = full_data[full_data['Year'] == 2007]
data_2007_spring = data_2007_full[data_2007_full['Semester'] == 'Spring']
data_2007_summer = data_2007_full[data_2007_full['Semester'] == 'Summer']
data_2007_fall = data_2007_full[data_2007_full['Semester'] == 'Fall']

data_2008_full = full_data[full_data['Year'] == 2008]
data_2008_spring = data_2008_full[data_2008_full['Semester'] == 'Spring']
data_2008_summer = data_2008_full[data_2008_full['Semester'] == 'Summer']
data_2008_fall = data_2008_full[data_2008_full['Semester'] == 'Fall']

data_2009_full = full_data[full_data['Year'] == 2009]
data_2009_spring = data_2009_full[data_2009_full['Semester'] == 'Spring']
data_2009_summer = data_2009_full[data_2009_full['Semester'] == 'Summer']
data_2009_fall = data_2009_full[data_2009_full['Semester'] == 'Fall']

data_2010_full = full_data[full_data['Year'] == 2010]
data_2010_spring = data_2010_full[data_2010_full['Semester'] == 'Spring']
data_2010_summer = data_2010_full[data_2010_full['Semester'] == 'Summer']
data_2010_fall = data_2010_full[data_2010_full['Semester'] == 'Fall']

data_2011_full = full_data[full_data['Year'] == 2011]
data_2011_spring = data_2011_full[data_2011_full['Semester'] == 'Spring']
data_2011_summer = data_2011_full[data_2011_full['Semester'] == 'Summer']
data_2011_fall = data_2011_full[data_2011_full['Semester'] == 'Fall']

data_2012_full = full_data[full_data['Year'] == 2012]
data_2012_spring = data_2012_full[data_2012_full['Semester'] == 'Spring']
data_2012_summer = data_2012_full[data_2012_full['Semester'] == 'Summer']
data_2012_fall = data_2012_full[data_2012_full['Semester'] == 'Fall']

data_2013_full = full_data[full_data['Year'] == 2013]
data_2013_spring = data_2013_full[data_2013_full['Semester'] == 'Spring']
data_2013_summer = data_2013_full[data_2013_full['Semester'] == 'Summer']
data_2013_fall = data_2013_full[data_2013_full['Semester'] == 'Fall']

data_2014_full = full_data[full_data['Year'] == 2014]
data_2014_spring = data_2014_full[data_2014_full['Semester'] == 'Spring']
data_2014_summer = data_2014_full[data_2014_full['Semester'] == 'Summer']
data_2014_fall = data_2014_full[data_2014_full['Semester'] == 'Fall']

data_2015_full = full_data[full_data['Year'] == 2015]
data_2015_spring = data_2015_full[data_2015_full['Semester'] == 'Spring']
data_2015_summer = data_2015_full[data_2015_full['Semester'] == 'Summer']
data_2015_fall = data_2015_full[data_2015_full['Semester'] == 'Fall']

data_2016_full = full_data[full_data['Year'] == 2016]
data_2016_spring = data_2016_full[data_2016_full['Semester'] == 'Spring']
data_2016_summer = data_2016_full[data_2016_full['Semester'] == 'Summer']
data_2016_fall = data_2016_full[data_2016_full['Semester'] == 'Fall']

data_2017_full = full_data[full_data['Year'] == 2017]
data_2017_spring = data_2017_full[data_2017_full['Semester'] == 'Spring']
data_2017_summer = data_2017_full[data_2017_full['Semester'] == 'Summer']
data_2017_fall = data_2017_full[data_2017_full['Semester'] == 'Fall']

data_2018_full = full_data[full_data['Year'] == 2018]
data_2018_spring = data_2018_full[data_2018_full['Semester'] == 'Spring']
data_2018_summer = data_2018_full[data_2018_full['Semester'] == 'Summer']

In [5]:
data_2003_full.to_csv("data_2003_full.csv")
data_2003_summer.to_csv("data_2003_summer.csv")
data_2003_fall.to_csv("data_2003_fall.csv")

data_2004_full.to_csv("data_2004_full.csv")
data_2004_spring.to_csv("data_2004_spring.csv")
data_2004_summer.to_csv("data_2004_summer.csv")
data_2004_fall.to_csv("data_2004_fall.csv")

data_2005_full.to_csv("data_2005_full.csv")
data_2005_spring.to_csv("data_2005_spring.csv")
data_2005_summer.to_csv("data_2005_summer.csv")
data_2005_fall.to_csv("data_2005_fall.csv")

data_2006_full.to_csv("data_2006_full.csv")
data_2006_spring.to_csv("data_2006_spring.csv")
data_2006_summer.to_csv("data_2006_summer.csv")
data_2006_fall.to_csv("data_2006_fall.csv")

data_2007_full.to_csv("data_2007_full.csv")
data_2007_spring.to_csv("data_2007_spring.csv")
data_2007_summer.to_csv("data_2007_summer.csv")
data_2007_fall.to_csv("data_2007_fall.csv")

data_2008_full.to_csv("data_2008_full.csv")
data_2008_spring.to_csv("data_2008_spring.csv")
data_2008_summer.to_csv("data_2008_summer.csv")
data_2008_fall.to_csv("data_2008_fall.csv")

data_2009_full.to_csv("data_2009_full.csv")
data_2009_spring.to_csv("data_2009_spring.csv")
data_2009_summer.to_csv("data_2009_summer.csv")
data_2009_fall.to_csv("data_2009_fall.csv")

data_2010_full.to_csv("data_2010_full.csv")
data_2010_spring.to_csv("data_2010_spring.csv")
data_2010_summer.to_csv("data_2010_summer.csv")
data_2010_fall.to_csv("data_2010_fall.csv")

data_2011_full.to_csv("data_2011_full.csv")
data_2011_spring.to_csv("data_2011_spring.csv")
data_2011_summer.to_csv("data_2011_summer.csv")
data_2011_fall.to_csv("data_2011_fall.csv")

data_2012_full.to_csv("data_2012_full.csv")
data_2012_spring.to_csv("data_2012_spring.csv")
data_2012_summer.to_csv("data_2012_summer.csv")
data_2012_fall.to_csv("data_2012_fall.csv")

data_2013_full.to_csv("data_2013_full.csv")
data_2013_spring.to_csv("data_2013_spring.csv")
data_2013_summer.to_csv("data_2013_summer.csv")
data_2013_fall.to_csv("data_2013_fall.csv")

data_2014_full.to_csv("data_2014_full.csv")
data_2014_spring.to_csv("data_2014_spring.csv")
data_2014_summer.to_csv("data_2014_summer.csv")
data_2014_fall.to_csv("data_2014_fall.csv")

data_2015_full.to_csv("data_2015_full.csv")
data_2015_spring.to_csv("data_2015_spring.csv")
data_2015_summer.to_csv("data_2015_summer.csv")
data_2015_fall.to_csv("data_2015_fall.csv")

data_2016_full.to_csv("data_2016_full.csv")
data_2016_spring.to_csv("data_2016_spring.csv")
data_2016_summer.to_csv("data_2016_summer.csv")
data_2016_fall.to_csv("data_2016_fall.csv")

data_2017_full.to_csv("data_2017_full.csv")
data_2017_spring.to_csv("data_2017_spring.csv")
data_2017_summer.to_csv("data_2017_summer.csv")
data_2017_fall.to_csv("data_2017_fall.csv")

data_2018_full.to_csv("data_2018_full.csv")
data_2018_spring.to_csv("data_2018_spring.csv")
data_2018_summer.to_csv("data_2018_summer.csv")

In [6]:
df = full_data.groupby(['Year', 'College'], as_index=False).mean(numeric_only=True)
df

     Year College  Total Grades  D, F, W Grades      % DFW
0    2003     BUS    147.955882       16.852941   8.235294
1    2003    CALS     30.131455        3.253521   9.323944
2    2003    DSGN     34.891566        3.909639  10.993976
3    2003    ENGR     54.629032        6.387097   8.763441
4    2003   INDIS     36.211765        4.044118   6.670588
5    2003     LAS     76.045113       12.320301  11.625564
6    2003     LIB   3556.000000      423.000000  12.000000
7    2004     BUS    111.759358       12.347594   7.379679
8    2004    CALS     27.882729        2.923241   7.953092
9    2004    DSGN     29.978780        3.100796   7.692308
10   2004    ENGR     44.761488        5.512035   8.452954
11   2004   INDIS     42.076606        5.202636   7.986820
12   2004     LAS     64.280632       10.866271  12.145586
13   2004     LIB   1811.333333      296.000000  16.333333
14   2005     BUS    102.321608       11.095477   6.678392
15   2005    CALS     27.014374        2.638604   8.108830
16   2005    DSGN     30.155367        2.994350   9.615819
17   2005    ENGR     44.702643        5.072687   8.431718
18   2005   H SCI     39.109756        2.975610   6.016260
19   2005   INDIS     42.498385        6.320775   8.738428
20   2005     LAS     64.183758       11.618720  13.308328
21   2005     LIB   1771.000000      255.666667  14.666667
22   2006     BUS     98.980000       10.985000   7.720000
23   2006    CALS     24.470588        2.668627   7.988235
24   2006    DSGN     30.443182        2.613636   8.008523
25   2006    ENGR     43.381375        5.026608   8.565410
26   2006   H SCI     35.012048        2.371773   5.351119
27   2006   INDIS     49.036007        8.548282  10.769231
28   2006     LAS     61.434247       10.547260  12.523973
29   2006     LIB   1787.666667      245.333333  14.666667
..    ...     ...           ...             ...        ...
96   2015    DSGN     35.743440        2.425656   6.507289
97   2015    ENGR     63.806950        7.940154   9.374517
98   2015   H SCI     53.546898        3.445887   5.043290
99   2015   INDIS     64.298630        8.754795   8.610959
100  2015     LAS     78.541721       12.375489  10.926336
101  2015     LIB   2630.333333      124.666667   5.333333
102  2016     BUS    128.755760       12.949309   7.055300
103  2016    CALS     44.186161        3.859967   7.835255
104  2016    DSGN     35.997159        2.579545   6.394886
105  2016    ENGR     65.575985        7.896811   8.787992
106  2016   H SCI     53.282885        3.425743   4.872702
107  2016   INDIS     65.378231        8.914286   9.537415
108  2016     LAS     78.268121       12.016677  11.014112
109  2016     LIB   2647.333333      110.333333   3.666667
110  2017     BUS    139.027650       13.396313   6.829493
111  2017    CALS     42.458991        3.820189   7.178233
112  2017    DSGN     36.476712        2.630137   7.443836
113  2017    ENGR     66.092559        7.691470   8.225045
114  2017   H SCI     50.971154        3.230769   4.703297
115  2017   INDIS     63.049598        8.410188   9.766756
116  2017     LAS     77.033801       11.490434  10.744260
117  2017     LIB   2602.000000      119.333333   5.333333
118  2018     BUS    125.706349       11.269841   6.325397
119  2018    CALS     39.036697        3.012232   5.721713
120  2018    DSGN     32.801047        2.790576   7.214660
121  2018    ENGR     64.063830        7.641844   8.794326
122  2018   H SCI     45.423773        2.764858   5.183463
123  2018   INDIS     55.420147        7.009828  10.567568
124  2018     LAS     66.172333        9.376319   9.876905
125  2018     LIB   1739.500000       96.000000   6.500000

[126 rows x 5 columns]

In [7]:
df.to_csv("historical_comp.csv", index=False)

In [9]:
full_data['Class'] = ''
full_data.head()

,Year,Semester,College,Department,Course,Title,Total Grades,"D, F, W Grades",% DFW,Class
0,2016,Fall,CALS,A B E,102X,LEARNING COMMUNITIE,74,2,3,
1,2017,Fall,CALS,A B E,102X,LEARNING COMMUNITIE,79,4,5,
2,2015,Spring,CALS,A B E,110,EXPERNC AG&BIO ENGR,96,2,2,
3,2016,Spring,CALS,A B E,110,EXPERNC AG&BIO ENGR,130,0,0,
4,2017,Spring,CALS,A B E,110,EXPERNC AG&BIO ENGR,101,2,2,

In [13]:
for i in range(len(full_data['Course'])):
    full_data.at[i, 'Class'] = full_data.at[i, 'Department'] + " " + str(full_data.at[i, 'Course'])

full_data

,Year,Semester,College,Department,Course,Title,Total Grades,"D, F, W Grades",% DFW,Class
0,2016,Fall,CALS,A B E,102X,LEARNING COMMUNITIE,74,2,3,A B E 102X
1,2017,Fall,CALS,A B E,102X,LEARNING COMMUNITIE,79,4,5,A B E 102X
2,2015,Spring,CALS,A B E,110,EXPERNC AG&BIO ENGR,96,2,2,A B E 110
3,2016,Spring,CALS,A B E,110,EXPERNC AG&BIO ENGR,130,0,0,A B E 110
4,2017,Spring,CALS,A B E,110,EXPERNC AG&BIO ENGR,101,2,2,A B E 110
5,2018,Spring,CALS,A B E,110,EXPERNC AG&BIO ENGR,105,5,5,A B E 110
6,2014,Fall,CALS,A B E,160,SYST PROB SOLV&PROG,40,5,13,A B E 160
7,2015,Fall,CALS,A B E,160,SYST PROB SOLV&PROG,76,8,11,A B E 160
8,2015,Spring,CALS,A B E,160,SYST PROB SOLV&PROG,47,9,19,A B E 160
9,2016,Fall,CALS,A B E,160,SYST PROB SOLV&PROG,50,9,18,A B E 160
10,2016,Spring,CALS,A B E,160,SYST PROB SOLV&PROG,47,5,11,A B E 160
11,2017,Fall,CALS,A B E,160,SYST PROB SOLV&PROG,55,9,16,A B E 160
12,2017,Spring,CALS,A B E,160,SYST PROB SOLV&PROG,45,7,16,A B E 160
13,2018,Spring,CALS,A B E,160,SYST PROB SOLV&PROG,44,9,20,A B E 160
14,2014,Fall,CALS,A B E,170,ENG GRPHC&INTRO DSN,67,3,4,A B E 170
15,2015,Fall,CALS,A B E,170,ENG GRPHC&INTRO DSN,82,7,9,A B E 170
16,2015,Spring,CALS,A B E,170,ENG GRPHC&INTRO DSN,33,1,3,A B E 170
17,2016,Fall,CALS,A B E,170,ENG GRPHC&INTRO DSN,70,1,1,A B E 170
18,2016,Spring,CALS,A B E,170,ENG GRPHC&INTRO DSN,42,0,0,A B E 170
19,2017,Fall,CALS,A B E,170,ENG GRPHC&INTRO DSN,65,2,3,A B E 170
20,2017,Spring,CALS,A B E,170,ENG GRPHC&INTRO DSN,38,3,8,A B E 170
21,2018,Spring,CALS,A B E,170,ENG GRPHC&INTRO DSN,32,4,13,A B E 170
22,2014,Fall,CALS,A B E,201,SMNR:PREP FOR WRKPL,18,1,6,A B E 201
23,2015,Fall,CALS,A B E,201,SMNR:PREP FOR WRKPL,9,0,0,A B E 201
24,2015,Spring,CALS,A B E,201,SMNR:PREP FOR WRKPL,38,1,3,A B E 201
25,2016,Fall,CALS,A B E,201,SMNR:PREP FOR WRKPL,15,0,0,A B E 201
26,2016,Spring,CALS,A B E,201,SMNR:PREP FOR WRKPL,63,2,3,A B E 201
27,2017,Fall,CALS,A B E,201,SMNR:PREP FOR WRKPL,12,0,0,A B E 201
28,2017,Spring,CALS,A B E,201,SMNR:PREP FOR WRKPL,79,0,0,A B E 201
29,2018,Spring,CALS,A B E,201,SMNR:PREP FOR WRKPL,53,0,0,A B E 201
...,...,...,...,...,...,...,...,...,...,...
66225,2004,Fall,LAS,ZOOL,355,PRIN OF PHYSIOLOGY,34,6,18,ZOOL 355
66226,2004,Spring,LAS,ZOOL,355,PRIN OF PHYSIOLOGY,49,10,20,ZOOL 355
66227,2005,Spring,LAS,ZOOL,355,PRIN OF PHYSIOLOGY,37,4,11,ZOOL 355
66228,2003,Fall,LAS,ZOOL,383,WOMEN IN SCI & ENGR,24,0,0,ZOOL 383
66229,2003,Fall,LAS,ZOOL,405,BIOLOGY OF INVERTEB,15,1,7,ZOOL 405
66230,2004,Fall,LAS,ZOOL,405,BIOLOGY OF INVERTEB,17,1,6,ZOOL 405
66231,2004,Spring,LAS,ZOOL,428,CELL BIOLOGY,7,0,0,ZOOL 428
66232,2005,Spring,LAS,ZOOL,428,CELL BIOLOGY,6,0,0,ZOOL 428
66233,2004,Spring,LAS,ZOOL,433,DEVELOPMENTAL BIOL,12,2,17,ZOOL 433
66234,2005,Spring,LAS,ZOOL,433,DEVELOPMENTAL BIOL,19,0,0,ZOOL 433
66235,2004,Spring,LAS,ZOOL,433L,DEVELOPMTL BIOL LAB,8,0,0,ZOOL 433L
66236,2005,Spring,LAS,ZOOL,433L,DEVELOPMTL BIOL LAB,12,0,0,ZOOL 433L
66237,2004,Spring,LAS,ZOOL,454,GEN & COMP ENDOCRIN,17,1,6,ZOOL 454
66238,2005,Spring,LAS,ZOOL,454,GEN & COMP ENDOCRIN,22,1,5,ZOOL 454
66239,2003,Fall,LAS,ZOOL,456,NEUROBIOLOGY,16,3,19,ZOOL 456
66240,2004,Fall,LAS,ZOOL,456,NEUROBIOLOGY,13,3,23,ZOOL 456
66241,2004,Spring,LAS,ZOOL,462,EVOLUTNARY GENETICS,2,0,0,ZOOL 462
66242,2005,Spring,LAS,ZOOL,462,EVOLUTNARY GENETICS,1,0,0,ZOOL 462
66243,2003,Fall,LAS,ZOOL,490R,INDEP STDY RESEARCH,8,0,0,ZOOL 490R
66244,2004,Summer,LAS,ZOOL,490R,INDEP STDY RESEARCH,1,0,0,ZOOL 490R
66245,2004,Fall,LAS,ZOOL,490R,INDEP STDY RESEARCH,2,1,50,ZOOL 490R
66246,2004,Spring,LAS,ZOOL,490R,INDEP STDY RESEARCH,3,0,0,ZOOL 490R
66247,2005,Spring,LAS,ZOOL,490R,INDEP STDY RESEARCH,9,0,0,ZOOL 490R
66248,2003,Summer,INDIS,ZOOL,490R,INDEP STDY RESEARCH,3,0,0,ZOOL 490R
66249,2003,Fall,LAS,ZOOL,490U,LAB TCHNG EXPERIENC,10,0,0,ZOOL 490U
66250,2004,Fall,LAS,ZOOL,490U,LAB TCHNG EXPERIENC,5,2,40,ZOOL 490U
66251,2004,Spring,LAS,ZOOL,490U,LAB TCHNG EXPERIENC,5,0,0,ZOOL 490U
66252,2005,Spring,LAS,ZOOL,490U,LAB TCHNG EXPERIENC,2,0,0,ZOOL 490U
66253,2003,Fall,LAS,ZOOL,492X,UG SEM ENVIRON BIOL,9,0,0,ZOOL 492X
66254,2004,Spring,LAS,ZOOL,492X,UG SEM ENVIRON BIOL,8,0,0,ZOOL 492X

In [14]:
df2 = full_data.groupby(['Year', 'Class'], as_index=False).mean(numeric_only=True)
df2.head()

   Year    Class  Total Grades  D, F, W Grades  % DFW
0  2003  A E 203          46.0             6.0   13.0
1  2003  A E 271          18.0             1.0    6.0
2  2003  A E 272          30.0             1.0    3.0
3  2003  A E 363          33.0             1.0    3.0
4  2003  A E 401          22.0             0.0    0.0

In [15]:
df2

       Year       Class  Total Grades  D, F, W Grades  % DFW
0      2003     A E 203          46.0             6.0   13.0
1      2003     A E 271          18.0             1.0    6.0
2      2003     A E 272          30.0             1.0    3.0
3      2003     A E 363          33.0             1.0    3.0
4      2003     A E 401          22.0             0.0    0.0
5      2003     A E 404          10.0             0.0    0.0
6      2003     A E 405           1.0             1.0  100.0
7      2003     A E 413          16.0             0.0    0.0
8      2003     A E 415          12.0             0.0    0.0
9      2003     A E 416           6.0             0.0    0.0
10     2003     A E 441           2.0             0.0    0.0
11     2003     A E 447          18.0             2.0   11.0
12     2003    A E 490C           3.0             0.0    0.0
13     2003    A E 490E           1.0             0.0    0.0
14     2003    A E 490P           1.0             0.0    0.0
15     2003    A E 490Q           1.0             0.0    0.0
16     2003   A ECL 120           9.0             0.0    0.0
17     2003   A ECL 211          60.0             3.0    5.0
18     2003   A ECL 310         115.0            35.0   30.0
19     2003   A ECL 312          44.5            10.5   13.0
20     2003   A ECL 361          27.0             2.0    7.0
21     2003   A ECL 364          30.0             3.0   10.0
22     2003   A ECL 410          10.0             1.0   10.0
23     2003  A ECL 410L           7.0             3.0   43.0
24     2003   A ECL 430          14.0             0.0    0.0
25     2003   A ECL 440          13.0             0.0    0.0
26     2003   A ECL 451          27.0             0.0    0.0
27     2003   A ECL 490           1.0             0.0    0.0
28     2003  A ECL 496A           8.0             0.0    0.0
29     2003    ACCT 215         368.0            20.5    6.0
...     ...         ...           ...             ...    ...
45387  2018    U ST 315          44.0             1.0    2.0
45388  2018   U ST 316X          19.0             0.0    0.0
45389  2018    U ST 402          15.0             0.0    0.0
45390  2018   US LS 211          68.0             7.0    9.5
45391  2018   US LS 343          11.0             1.0    9.0
45392  2018   US LS 473           2.0             1.0   50.0
45393  2018     W S 160          78.0             9.0   12.0
45394  2018     W S 201         242.0            31.5   14.5
45395  2018    W S 201H          20.0             0.0    0.0
45396  2018     W S 203          37.0             4.0   11.0
45397  2018    W S 210X          30.0             5.0   17.0
45398  2018     W S 301          29.0             2.0    7.0
45399  2018     W S 320          15.0             2.0   13.0
45400  2018     W S 323          25.5             0.5    4.5
45401  2018     W S 325          28.0             4.5   16.0
45402  2018     W S 327          11.5             0.5    3.5
45403  2018     W S 333          12.0             1.0    9.0
45404  2018     W S 344           3.0             1.0   33.0
45405  2018     W S 346           2.0             0.0    0.0
45406  2018    W S 349X           6.0             0.0    0.0
45407  2018     W S 350          14.0             2.0   14.0
45408  2018     W S 385           7.0             1.0   14.0
45409  2018     W S 402           8.0             0.0    0.0
45410  2018     W S 422           2.0             1.0   50.0
45411  2018     W S 450          54.0             6.0   11.0
45412  2018     W S 490           2.0             0.0    0.0
45413  2018     W S 491           3.0             0.0    0.0
45414  2018     WLC 119          14.0             7.0   50.0
45415  2018     WLC 278          15.0             2.0   13.0
45416  2018     WLC 491           6.0             0.0    0.0

[45417 rows x 5 columns]

In [16]:
df2[df2["Class"] == "WLC 119"]

       Year    Class  Total Grades  D, F, W Grades  % DFW
13095  2007  WLC 119           9.0             2.0   22.0
15890  2008  WLC 119           6.0             1.0   17.0
18784  2009  WLC 119          15.0             5.0   33.0
21626  2010  WLC 119           7.0             1.0   14.0
24633  2011  WLC 119          11.0             2.0   18.0
27623  2012  WLC 119           8.0             2.0   25.0
30638  2013  WLC 119          12.0             4.0   33.0
33731  2014  WLC 119          15.5             2.5   18.0
36824  2015  WLC 119          13.0             1.0    7.5
39951  2016  WLC 119          15.5             1.0    8.0
43157  2017  WLC 119          16.0             3.0   17.0
45414  2018  WLC 119          14.0             7.0   50.0

In [17]:
df2.to_csv("class_history.csv", index=False)