In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('DFW_with_rating.csv')

In [3]:
df.head()

,Year,Semester,College,Department,Course,Title,Total Grades,"D, F, W Grades",% DFW,Difficulty
0,2016,Fall,CALS,A B E,102X,LEARNING COMMUNITIE,74,2,3,1
1,2017,Fall,CALS,A B E,102X,LEARNING COMMUNITIE,79,4,5,1
2,2015,Spring,CALS,A B E,110,EXPERNC AG&BIO ENGR,96,2,2,1
3,2016,Spring,CALS,A B E,110,EXPERNC AG&BIO ENGR,130,0,0,1
4,2017,Spring,CALS,A B E,110,EXPERNC AG&BIO ENGR,101,2,2,1

In [7]:
means = df.groupby(['Department', 'Course'], as_index=False).mean()

KeyError: 'College'

In [ ]:
means.to_csv("DFW_means.csv", index=False)