In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("major_class.csv")

In [3]:
df.head()

  College                                              Major      Class
0    CALS  Agricultural and Life Sciences Education- B.S ...   ENGL 150
1    CALS  Agricultural and Life Sciences Education- B.S ...   ENGL 250
2    CALS  Agricultural and Life Sciences Education- B.S ...  AGEDS 311
3    CALS  Agricultural and Life Sciences Education- B.S ...    LIB 160
4    CALS  Agricultural and Life Sciences Education- B.S ...  PSYCH 230

In [4]:
df = df[df['Class'] != ""]
df = df[df['Major'] != ""]
df = df[df['College'] != ""]

In [5]:
df = df.dropna()

In [6]:
df.to_csv("DFW_done_cleaned.csv", index=False)